body, html{
    
    height: 100%;
    overflow: hidden;
    
}

#background{
    
    background-image: url(FrogGame_Background.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#thewholething{
	
	width: 1093px;
	height: 631px;
    position: absolute;
    left: 150px;
    top: 95px;
}

#logo{
	background-color: black;
	background-image: url('justlogo.png');
	width: 965px;
	height: 82px;
	position: relative;
	left:65px;
	top: 8px;
}

#instructions{
	background-color: black;
	background-image: url('justinstructions.png');
	width: 205px;
	height: 468px;
	position: relative;
	left:824px;
	top: 40px;
}

#game{
	position: relative;
	height: 461px;
	width: 709px;
	bottom: 429px;
	left: 75px;
	opacity: 0.20;
}